.report-padd{
  padding:0 2.4rem
}
.none{
  display: none!important;
}
.sum-borrow{
  font-size:17px;
  margin-bottom: 20px;
}
.collap-borrow{
  padding:15px!important;
}
.breadcrumb-borrow{
  margin-bottom:35px;
}
.title-checkout{
  margin-bottom:30px;
}
.padding-right{
  padding-right: 0!important;
}
.btn-arrow{
  margin-bottom:5px;
}
.brand-logo{
  font-family: 'Product Sans';
  font-weight: 400;
}
.main-nav{
  text-transform: uppercase;
  font-weight: 500;
}

.tabs .tab a{
  color: #ff5252;
}
.tabs .tab a:hover {
  color: #BBDEFB;
}
.tabs .indicator{
  background-color: #ff5252;
}

.btn, .btn-flat{
  padding: 0 16px;
  font-weight: 500;
}
.btn-cancel{
  margin-right: 10px!important;
}
.margin-bottom{
  margin-bottom: 0!important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff5252;
  box-shadow: 0 1px 0 0 #ff5252;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ff5252;
}
.dropdown-content li>span{
  color: #ff5252;
}
.toast{
  font-weight: 400;
  background-color: #FF5252;
}
.pagination li.active {
    background-color: #ff5252;
}
.nav-breadcrumb{
  line-height: 46px;
  height: 46px;
}
.navbar-fixed{
  z-index:1000;
}
.side-nav{
  top: 64px;
}
.row-main{
  padding:30px;
}
.ps-scrollbar-y-rail{
  z-index: 1001;
}
.mobile-menu{
  display: none;
}
.picker__weekday-display{
  background-color: #1976D2;
}
.picker__date-display{
  background-color: #ff5252;
}
.picker__day.picker__day--today{
  color: #ff5252;
}
.picker__nav--prev:hover, .picker__nav--next:hover{
  background: #BBDEFB;
}
.picker__close, .picker__today{
  color: #ff5252;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #ff5252;
}
.picker__input.picker__input--active{
  border-color: #BBDEFB;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus{
  background-color: #BBDEFB;
}
[type="checkbox"]:checked+label:before{
  border-right: 2px solid #ff5252;
  border-bottom: 2px solid #ff5252;
}
[type="checkbox"].filled-in:checked+label:after{
  border: 2px solid #ff5252;
  background-color: #ff5252;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
  background-color: #ff5252;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
  border: 2px solid #ff5252;
}
.input-field .prefix.active{
  color: #ff5252;
}
@media only screen and (min-width: 993px){
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 992px){
  .side-nav {
    top: 56px!important;
  }
}
header, main, footer {
  padding-left: 300px;
}
.hide-card{
  display: none!important;
}
.thumb-borrow{
  width:100%; height:160px;
}
.icon-book{
  font-size:80px; margin-top:17%;
}
.title-borrow{
  font-size: 18px!important;
}
.check-borrow{
  font-size: 14px!important;
}
.card-content{
  padding: 10px!important;
  padding-top: 0!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.card .card-content .card-title{
  line-height: 42px;
}
.card .card-action{
  padding: 10px 15px;
}
.no-padding{
  padding: 0!important;
}
.sticky-card{
  overflow: hidden;
}
.input-borrow{
  margin-top:70px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .row-main{
    padding: 0;
  }
  .mobile-menu{
    display: block;
  }
  .btn-arrow{
    margin-bottom:0;
  }
  .input-borrow{
    margin-top:0;
  }
}
